body {
  font-family: sans-serif;
  margin: 16px;
}

h1 {
  font-size: 20px;
  text-align: center;
}

img {
  width: 100%;
  border-radius: 8px;
}

iframe {
  border-radius: 8px;
}

footer {
  text-align: center;
  margin: 16px 0 8px;
  padding-top: 8px;
  border-top: 2px solid lightblue;
}

.header-details {
  padding: 8px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: space-between;
}

.header-details img {
  width: 32px;
  height: 32px;
}

.header-details a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  padding: 4px 8px;
  background: #c9e5c3;
  border-radius: 8px;
  width: fit-content;
  align-self: center;
}

.header-details a:hover {
  background: #a0d995;
  transition: all 0.5s ease-in;
  border-radius: 8px;
}

.logo {
  display: flex;
  gap: 8px;
  align-items: center;
}

.all-filter-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: space-between;
  margin-bottom: 16px;
  border-radius: 8px;
  border: 2px solid #4cacbc;
  padding: 16px 8px;
}

.search-for-name {
  display: flex;
  flex-direction: column;
}

.neighbourhood-select {
  display: flex;
  flex-direction: column;
}

.fewo-type {
  display: flex;
  flex-direction: column;
}

.filter-btn {
  height: 50%;
  background: #6cc4a1;
  align-self: flex-end;
  border: none;
  padding: 4px 16px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.fewo-list-sort {
  display: flex;
  flex-direction: column;
}

.sort {
  display: flex;
  gap: 8px;
  align-self: flex-end;
}

.sort-review {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sort-price {
  display: flex;
  align-items: center;
  cursor: pointer;
}

div.toggle {
  font-weight: bold;
  color: #448d9a;
}

.fewo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.fewo-list-item-wrapper {
  background: #f6e3c5;
  border-radius: 8px;
  width: 300px;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  justify-content: space-between;
  padding: 4px;
}

.fewo-img-wrapper img {
  height: 250px;
  object-fit: cover;
}

.fewo-list-item-wrapper h2 {
  font-size: large;
  margin: 0;
}

.fewo-list-item-wrapper p,
span {
  font-size: medium;
  margin: 0;
}

.fewo-list-info {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.price-stars {
  display: flex;
  justify-content: space-between;
}

.overview-bewertung {
  margin-left: 4px;
}

.fewo-list-item-wrapper a {
  text-decoration: none;
  font-size: medium;
  padding: 4px 4px;
  border: #ecb151 1px solid;
  border-radius: 8px;
  display: block;
  text-align: center;
  margin: 8px 4px 4px;
  color: black;
}

.fewo-list-item-wrapper a:hover {
  background: #ecb151;
  color: white;
}

.fewo-header {
  padding: 8px;
  border-radius: 8px;
  background-color: #4cabbcf1;
}

.fewo-header h1 {
  margin: 0;
  font-weight: bold;
  color: white;
}

.fewo-list-empty {
  font-weight: bold;
  height: 50vh;
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  align-items: center;
}

.fewo-list-empty h2 {
  font-size: x-large;
}

.fewo-list-empty p {
  font-size: large;
}

a.back-btn {
  background-color: #ecb151;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.about-main {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.details-div {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-top: 8px;
}

.info-left {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  flex: 2;
}

.characteristics-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.characteristics-wrapper span {
  padding: 8px 16px;
  color: white;
  background-color: #4cacbc;
  border-radius: 8px;
}

.features-wrapper {
  background: #f6e3c5;
  padding: 8px 16px;
  border-radius: 8px;
  margin: 0;
}

.features-wrapper h2 {
  margin: 0;
  padding-top: 8px;
}

.features-list {
  list-style: '✓';
  padding: 0px 32px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.features-list li {
  padding: 8px 16px;
}

.location {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.location a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  padding: 4px 8px;
  background: #c9e5c3;
  border-radius: 8px;
  width: fit-content;
}

.location a:hover {
  background: #a0d995;
  transition: all 0.5s ease-in;
  border-radius: 8px;
}

.location-info h2 {
  margin-top: 0;
}

.location-info p {
  margin-top: 0;
}

.info-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
  flex: 1;
}

.calendar-wrapper {
  border: 4px solid #a0d995;
  padding-bottom: 8px;
  border-radius: 8px;
  max-width: 380px;
  background-color: #a0d995;
}

.calendar-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 10px 20px 30px;
}

.calendar-head p {
  font-size: 1.45rem;
  font-weight: 600;
  margin: 0;
}

.icons span {
  height: 38px;
  width: 38px;
  margin: 0 1px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}

.icons span:not(.unavailable):hover {
  background: #6cc4a1;
  cursor: pointer;
}

.icons .unavailable {
  visibility: hidden;
}

.calendar-body {
  padding: 8px;
}

.calendar-body ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0 0 8px;
}

.calendar-body ul li {
  position: relative;
  width: calc(100% / 7);
}

.days li {
  cursor: pointer;
  margin-top: 16px;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

.days li::before {
  position: absolute;
  content: '';
  height: 40px;
  width: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: -1;
}

.price {
  font-size: small;
  color: #5a5a5a;
}

.days li:not(.occupied):hover::before {
  background-color: #6cc4a1;
}

.occupied .day {
  text-decoration: line-through;
  color: #b46060;
}

.occupied .price {
  color: transparent;
}

.inactive {
  color: gray;
}

.weeks li {
  font-weight: 600;
}

.host-div {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  height: 100%;
  border-radius: 8px;
  flex: 1;
}

.host-img-wrapper {
  width: 50%;
  align-self: center;
}

.host-name {
  font-weight: bold;
  align-self: center;
}

.host-super {
  font-weight: bold;
  align-self: center;
}

.host-div p {
  padding-right: 8px;
  margin: 0;
}

.review-header {
  display: flex;
  justify-content: space-between;
}

.review-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.one-review-wrapper {
  border: 1px solid #c7c6c1;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.one-review-wrapper * {
  margin: 0;
}

.author {
  font-weight: bold;
}

.link-reviews {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.back-btn {
  text-decoration: none;
  color: black;
  cursor: pointer;
  padding: 4px 8px;
  background: #c9e5c3;
  border-radius: 8px;
  width: fit-content;
  align-self: center;
}

.back-btn:hover {
  background: #a0d995;
  transition: all 0.5s ease-in;
  border-radius: 8px;
}

#search-for-name {
  height: 50%;
}

@media (min-width: 768px) {
  h1 {
    font-size: 32px;
  }

  .fewo-header {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(175%) translateX(8%);
  }

  .fewo-header h1 {
    font-weight: 400;
  }

  .info-right {
    flex-direction: row-reverse;
  }

  .review-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .one-review-wrapper {
    width: 40%;
  }

  .all-filter-wrapper {
    flex-direction: row;
  }
}

@media (min-width: 992px) {
  h1 {
    text-align: left;
  }
  .details-div {
    flex-direction: row;
  }

  .characteristics-wrapper {
    justify-content: space-between;
  }

  .info-right {
    flex-direction: column;
  }

  .calendar-price {
    flex: 0;
  }

  .review-header {
    justify-content: flex-start;
    column-gap: 16px;
  }
}
